<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
  </style>
<div class="card" style="width: 60rem;"> 
 
  <div class="card-body">
  
    <h1 class="card-title">Type Game</h1>
    <p> 
      <span [class]="compare(letter,enteredText[i])" *ngFor="let letter of randomlorem.split('');let i = index;">{{ letter }}</span>

    </p>
    <div class="mb-3">
      <input type="text" #textInput (input)="DetectUserInput(textInput.value)" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div *ngIf="randomlorem==enteredText">
    <h3 class="title" >Congratulations !</h3>
    <button type="button"(click)="reload()" class="btn btn-success">Next</button>
    </div>
  </div>
</div>